{% extends 'base.html.twig' %}
{# commentaires#}
{% block title %}Accueil{% endblock %}

{% block body %}
<div style="min-height:100vh" >

    <!-- About section -->
    <section class="container py-5 mt-5 ">
        <div class="row justify-content-center  position-relative bg-info ">
            <div class="">
                <img src="{{asset('images/facade.jpg')}}" alt="vue de l'antré de la médiathèque" class="img-fluid py-5 facade">
            </div>
            <div class="position-absolute top-0 start-0 mt-5 pt-5 w-100 text-center ">
                <a href="{{ path('app_book_index')}}?mediaType=book" class="btn btn-light btn-lg mt-5">Parcourez le catalogue de livres</a>
                <a href="{{ path('app_book_index')}}?mediaType=film" class="btn btn-light btn-lg mt-5">Parcourez le catalogue de films</a>
                <a href="{{ path('app_book_index')}}?mediaType=music" class="btn btn-light btn-lg mt-5">Parcourez le catalogue de musiques</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}
